{% extends 'base.html' %}
{% block content %}
    <h1>EDIT</h1>
    <form action="{% url 'movies:update' movie.pk%}" method="POST">
        {% csrf_token %}
        <label for="title">TITLE:</label>
        <input type="text" name="title" id="title" value={{movie.title}}><br>

        <label for="audience">AUDIENCE: </label>
        <input type="text" name="audience" id="audience" value={{movie.audience}}><br>

        <label for="release_date">RELEASE_DATE</label>
        <input type="date" name ="release_date"id="release_date" value={{movie.release_date|date:"Y-m-d"}}><br>

        <label for="genre">GENRE</label>
        <select class="form-select" aria-label="Default select example" name="genre" id="genre" >
        <option value="코미디" {% if movie.genre == "코미디" %}selected{% endif %}>코미디</option>
        <option value="액션"{% if movie.genre == "액션" %}selected{% endif %}>액션</option>
        <option value="드라마"{% if movie.genre == "드라마" %}selected{% endif %}>드라마</option>
        <option value="로맨스"{% if movie.genre == "로맨스" %}selected{% endif %}>로맨스</option>
        <option value="공포"{% if movie.genre == "공포" %}selected{% endif %}>공포</option>
        </select><br>

        <label for="score">SCORE</label>
        <input type="text" name="score" id="score" value={{movie.score}}><br>
        
        <label for="poster_url">POSTER_URL</label>
        <input type="text" name="poster_url" id="poster_url" value={{movie.poster_url}}><br>

        <label for="description">DESCRIPTION</label><br>
        <textarea name="description"id="description" cols="30" rows="5" >{{movie.description}}</textarea><br>
        <input type="reset" value="초기화">
        <input type="submit">
    </form>
    <hr>
    <a href="{% url 'movies:index' %}">[back]</a>
{% endblock content %}